apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-ingress
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/balagcpcloud/gitops-k8s-platform.git
    targetRevision: main
    path: monitoring/prometheus

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
