alertmanager:
  enabled: true

server:
  enabled: true
  service:
    type: ClusterIP
  persistentVolume:
    enabled: false
  retention: 7d

kubeStateMetrics:
  enabled: true

pushgateway:
  enabled: false

nodeExporter:
  enabled: false

prometheus-node-exporter:
  enabled: false
