apiVersion: apps/v1
kind: Deployment
metadata:
  name: tomcat
  namespace: apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tomcat
  template:
    metadata:
      labels:
        app: tomcat
    spec:
      containers:
      - name: tomcat
        image: tomcat:10.1-jdk17
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: root-app
          mountPath: /usr/local/tomcat/webapps/ROOT
      volumes:
      - name: root-app
        configMap:
          name: tomcat-root-app
