apiVersion: v1
kind: Service
metadata:
  name: tomcat
  namespace: apps
spec:
  selector:
    app: tomcat
  ports:
    - name: http
      port: 80          # what ingress talks to
      targetPort: 8080  # what tomcat listens on
